:root {
  /* Color */
  --bg-color: #f9f9f9;
  --content-bg-color: #ffffff;
  --text-color: #191919;
  --border-color: #e8e8e8;
  --primary-color: #0057ff;
  --primary-active-color: #003ecb;
  --ocupied-color: #ffcaba;
  --selecting-color: #ddf3dd;

  /* Font Size */
  --text-size: 16px;
  --text-size-lg: 18px;
  --text-size-xl: 20px;
  --text-size-xxl: 24px;
  --text-size-xxxl: 30px;

  /* Border */
  --solid-border: 1px solid var(--border-color);
  --dashed-border: 2px dashed var(--border-color);

  /* Box Shadow */
  --box-shadow: 0 1px 2px rgba(0, 0, 0, .16);
}

html, body {
  background-color: var(--bg-color);
}